asgiref==3.8.1
beautifulsoup4==4.12.3
behave==1.2.7.dev6
behave-django==1.5.0
black==24.10.0
click==8.1.8
colorama==0.4.6
cucumber-expressions==18.0.1
cucumber-tag-expressions==6.1.1
Django==5.1.4
mypy-extensions==1.0.0
packaging==24.2
parse==1.20.2
parse_type==0.6.4
pathspec==0.12.1
platformdirs==4.3.6
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
